html { 
	height: 100%;
	width: 100%;
}
body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	border: 0px;
	font-family: Century Gothic, sans-serif;
	background: #D4E6F4;
	font-size: 13px;
	line-height: 15px;
}
img {
	border: none;
}
table, tr, td {
	border-collapse: collapse;
	vertical-align: top;
	font-size: 13px;
	line-height: 15px;
}
a {
	color: #EA0046;
}
#header {
	height: 70px;
	margin: 0px;
	padding: 0px;
	text-align: left;
	color: #EFDDBF;
	
	/*******************/
	background: #303bd3;
	background: -moz-linear-gradient(left,  #303bd3 0%, #bfd255 62%, #f78b38 82%, #ea0046 99%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#303bd3), color-stop(62%,#bfd255), color-stop(82%,#f78b38), color-stop(99%,#ea0046));
	background: -webkit-linear-gradient(left,  #303bd3 0%,#bfd255 62%,#f78b38 82%,#ea0046 99%);
	background: -o-linear-gradient(left,  #303bd3 0%,#bfd255 62%,#f78b38 82%,#ea0046 99%);
	background: -ms-linear-gradient(left,  #303bd3 0%,#bfd255 62%,#f78b38 82%,#ea0046 99%);
	background: linear-gradient(to right,  #303bd3 0%,#bfd255 62%,#f78b38 82%,#ea0046 99%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#303bd3', endColorstr='#ea0046',GradientType=1 );








	
	/*******************/
}
#header h1 {
	padding: 1em;
	margin: 0px;
}
#main {
	margin: 0px;
	padding: 0px;
	height: 400px;
	width: 100%;
	background: #EEE4B9;
}
#structure {
	height: 400px;
	width:100%;
}
#footer {
	height: 2em;
	margin: 0px;
	padding: 1em;
	text-align: center;
	font-size: 0.8em;
	color: #EA0046;
	
	/****************/
background: #f78b38;
background: -moz-linear-gradient(left,  #f78b38 4%, #ea0046 24%, #303bd3 71%, #bfd255 97%);
background: -webkit-gradient(linear, left top, right top, color-stop(4%,#f78b38), color-stop(24%,#ea0046), color-stop(71%,#303bd3), color-stop(97%,#bfd255));
background: -webkit-linear-gradient(left,  #f78b38 4%,#ea0046 24%,#303bd3 71%,#bfd255 97%);
background: -o-linear-gradient(left,  #f78b38 4%,#ea0046 24%,#303bd3 71%,#bfd255 97%);
background: -ms-linear-gradient(left,  #f78b38 4%,#ea0046 24%,#303bd3 71%,#bfd255 97%);
background: linear-gradient(to right,  #f78b38 4%,#ea0046 24%,#303bd3 71%,#bfd255 97%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f78b38', endColorstr='#bfd255',GradientType=1 );


	/**************/
	
	
}
#booknav {
	width: 150px;
	padding: 1em 2em;
	color: #EA0046;	
	background: #EB9A3E;
}
#booknav a {
	color: #EFDDBF;
	text-decoration: none;
}

.chaptercontent {
	height: 320px;
}

.chapternav {
	height: 30px;
}

.chapternav ul{
	list-style: none;

} 
.chapternav a{
	text-decoration: none;
	
}


.chapternav a{
	color: #CD5700;
}
.chapternav  ul li a{
	border: 1px solid #CC095D;
	
	background: #303bd3;
	background: -moz-linear-gradient(left,  #303bd3 0%, #bfd255 62%, #f78b38 82%, #ea0046 99%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#303bd3), color-stop(62%,#bfd255), color-stop(82%,#f78b38), color-stop(99%,#ea0046));
	background: -webkit-linear-gradient(left,  #303bd3 0%,#bfd255 62%,#f78b38 82%,#ea0046 99%);
	background: -o-linear-gradient(left,  #303bd3 0%,#bfd255 62%,#f78b38 82%,#ea0046 99%);
	background: -ms-linear-gradient(left,  #303bd3 0%,#bfd255 62%,#f78b38 82%,#ea0046 99%);
	background: linear-gradient(to right,  #303bd3 0%,#bfd255 62%,#f78b38 82%,#ea0046 99%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#303bd3', endColorstr='#ea0046',GradientType=1 );

	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 7px;
}
.chapternav ul {
    font-size: 1.2em;
}
.chapternav li {
    float: left;
}
.chapternav ul a:link,
.chapternav ul a:visited {
    padding: 5px 15px;
}
.chapternav a:hover{
    color: #BFD255;
	background: #EB9A3E;
}

ul.books {
	padding-left: 0;
	list-style: none;
}
ul.chapters {
	padding-left: 2em;
}
.selected a{
	color: #EA0046 !important;
}
#content {
	vertical-align: top;
	padding-left: 5em;
	padding-right: 5em;
	height: 270px;
	background: #bfd255;
}
#content h2 {
	text-align:center;
	color: #EA0046; 
	margin-top: 1em;
}
#content h3 {
	text-align:center;
	color: #EA0046; 
}

